h3 {
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-left: 5px solid #1976d2;
}
